@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.welcome-overlay {
  text-align: center;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  padding: 0;
  overflow: hidden;
  width: 500px;
  height: 500px;
  background: linear-gradient(to right, #f27121, #e94057, #8a2387);
  border: 1px solid #696969;
  border-radius: 3%;
  box-shadow: 10px 5px 5px rgba(101, 101, 101, 0.694);
  transition: opacity 0.5s ease, visibility 0.5s;
}

.welcome-overlay button {
  background: white;
  border: 0;
  color: white;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 45px;
  outline: none;
  overflow: hidden;
  text-transform: uppercase;
  width: 100px;
  height: 100px;
  border-radius: 5%;
}

.welcome-overlay button:hover {
  color: #8a2387;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  display: none;
}

dialog {
  display: flex;
  margin: auto;
  padding: 0;
  inset: 0;
  z-index: 0;
  height: 500px;
  width: 500px;
  overflow: hidden;
  color: #ffffffcc;
  background: #8a2387;
  background: linear-gradient(to right, #f27121, #e94057, #8a2387);
  text-align: center;
  border: 1px solid #696969;
  border-radius: 3%;
  box-shadow: 10px 5px 5px rgba(101, 101, 101, 0.694);
  transition: opacity 0.5s ease, visibility 0.5s;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

dialog::backdrop {
  backdrop-filter: blur(25px);
}

dialog::backdrop {
  transition: backdrop-filter 0.5s ease;
}

dialog > form {
  flex: 1;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  max-block-size: 80vh;
  max-block-size: 80dvb;
}

.add-book-form-header {
  color: white;
}

.add-book-form-title,
.add-book-form-author,
.add-book-form-pages {
  position: relative;
  padding: 15px 5% 0;
  margin-top: 10px;
  width: 100%;
}

#title,
#author,
#pages {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #ffffffcc;
  outline: 0;
  font-size: 1.3rem;
  text-align: center;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

#title::placeholder,
#author::placeholder,
#pages::placeholder {
  color: transparent;
}

#title:placeholder-shown ~ label,
#author:placeholder-shown ~ label,
#pages:placeholder-shown ~ label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

#title ~ label,
#author ~ label,
#pages ~ label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
}

#title:focus ~ label,
#author:focus ~ label,
#pages:focus ~ label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #7b7b7ba1;
  font-weight: 700;
}

#title:focus,
#author:focus,
#pages:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #7b7b7bcc, #ffffffcc);
  border-image-slice: 1;
}

#title:required,
#title:invalid,
#author:required,
#author:invalid,
#pages:required,
#pages:invalid {
  box-shadow: none;
}

.add-book-form-title,
.add-book-form-author,
.add-book-form-pages,
.add-book-form-read {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.add-book-form-read > label {
  cursor: pointer;
  color: white;
}

.add-book-form-read .tgl {
  display: none;
}

.add-book-form-read .tgl::-moz-selection,
.add-book-form-read .tgl:after::-moz-selection,
.add-book-form-read .tgl:before::-moz-selection,
.add-book-form-read .tgl *::-moz-selection,
.add-book-form-read .tgl *:after::-moz-selection,
.add-book-form-read .tgl *:before::-moz-selection,
.add-book-form-read .tgl + .tgl-btn::-moz-selection,
.add-book-form-read .tgl::selection,
.add-book-form-read .tgl:after::selection,
.add-book-form-read .tgl:before::selection,
.add-book-form-read .tgl *::selection,
.add-book-form-read .tgl *:after::selection,
.add-book-form-read .tgl *:before::selection,
.add-book-form-read .tgl + .tgl-btn::selection {
  background: none;
}
.add-book-form-read .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.add-book-form-read .tgl + .tgl-btn:after,
.add-book-form-read .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.add-book-form-read .tgl + .tgl-btn:after {
  left: 0;
}
.add-book-form-read .tgl + .tgl-btn:before {
  display: none;
}
.add-book-form-read .tgl:checked + .tgl-btn:after {
  left: 50%;
}

.add-book-form-read .tgl-flip + .tgl-btn {
  padding: 2px;
  transition: all 0.2s ease;
  font-family: sans-serif;
  perspective: 100px;
}
.add-book-form-read .tgl-flip + .tgl-btn:after,
.add-book-form-read .tgl-flip + .tgl-btn:before {
  display: inline-block;
  transition: all 0.2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 4px;
}
.add-book-form-read .tgl-flip + .tgl-btn:after {
  content: attr(data-tg-on);
  background: #5acc99;
  transform: rotateY(-180deg);
}
.add-book-form-read .tgl-flip + .tgl-btn:before {
  background: #ff3a19;
  content: attr(data-tg-off);
}
.add-book-form-read .tgl-flip + .tgl-btn:active:before {
  transform: rotateY(-20deg);
}
.add-book-form-read .tgl-flip:checked + .tgl-btn:before {
  transform: rotateY(180deg);
}
.add-book-form-read .tgl-flip:checked + .tgl-btn:after {
  transform: rotateY(0);
  left: 0;
}
.add-book-form-read .tgl-flip:checked + .tgl-btn:active:after {
  transform: rotateY(20deg);
}

.form-buttons {
  position: relative;
}

.form-buttons > button {
  background: none;
  border: 0;
  color: transparent;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 45px;
  outline: none;
  overflow: hidden;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
  width: 50px;
  height: 50px;
}

.form-buttons > button::before,
.form-buttons > button::after {
  background-color: white;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  transform-origin: center left;
  transition: all 0.2s ease-in;
  width: 70px;
  z-index: -1;
}

.form-buttons > .submit-dialog::before {
  left: 50%;
  transform: rotate(90deg);
}

.form-buttons > .submit-dialog::after {
  top: 50%;
  transform: rotate(0deg);
}

.form-buttons > .close-dialog::before {
  left: 0;
  top: 0;
  transform: rotate(45deg);
}

.form-buttons > .close-dialog::after {
  left: 0;
  bottom: 0;
  transform: rotate(-45deg);
}

.form-buttons > button:hover {
  color: #8a2387;
}

.form-buttons > .submit-dialog:hover::before {
  left: 0%;
  height: 25px;
  transform: rotate(0deg);
}

.form-buttons > .submit-dialog:hover::after {
  bottom: 0%;
  height: 25px;
  transform: rotate(0deg);
}

.form-buttons > .close-dialog:hover::before,
.form-buttons > .close-dialog:hover::after {
  height: 25px;
  transform: rotate(0deg);
}

.form-buttons > .submit-dialog {
  left: 20%;
}

.form-buttons > .close-dialog {
  left: 80%;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 90px 3fr 2fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas: "sidebar header header" "sidebar main main";
  height: 100vh;
  width: 100vw;
}

.container div {
  font-family: Helvetica;
  font-weight: bold;
}

.container li {
  color: #fef2f2;
}

.header {
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "search search controls profile";
  grid-area: header;
  overflow: hidden;
  padding-bottom: 1rem;
}

.profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1rem;
}

.search {
  grid-area: search;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem 0 0 1rem;
}

.search input[type="text"] {
  padding: 6px;
  border: none;
  font-size: 1rem;
  border-radius: 1rem;
  width: 35rem;
  background-color: #bccbde;
}

img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.img-interactable:hover {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #991b1b;
  transition: 0.7s;
}

.sidebar ul,
.sidebar li {
  font-size: 1.5rem;
  list-style-type: none;
}

li > a {
  text-decoration: none;
  color: white;
}

.nav li,
.nav2 li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sidebar {
  background: linear-gradient(to right, #e94057, #8a2387);
  display: grid;
  grid-template-rows: 100px 1fr 1fr;
  grid-template-areas: "logo" "nav" "nav2";
  gap: 40px;
  place-items: stretch;
  grid-area: sidebar;
  overflow: hidden;
}

.logo {
  font-size: 2rem;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  grid-area: logo;
  width: 100%;
  height: 100%;
}

.logo p {
  color: white;
}

.nav {
  grid-area: nav;
  grid-template-rows: repeat(3, 50px);
}

.nav2 {
  grid-area: nav2;
  grid-template-rows: repeat(2, 50px);
}

.sidebar ul {
  color: black;
  font-size: 1rem;
  font-weight: normal;
  display: grid;
  gap: 1rem;
  justify-content: center;
}

.controls {
  display: grid;
  grid-area: controls;
  padding-top: 16px;
}

.controls ul {
  display: grid;
  grid-template-columns: auto;
  place-items: center;
}

.controls ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style-type: none;
}

.button {
  font-size: 1rem;
  font-weight: bold;
  background: linear-gradient(to right, #e94057, #8a2387);
  color: white;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  height: 50px;
  width: 150px;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 0 0 3px #e9405778;
  transition: 0.5s;
}

.button:active,
.img-interactable:active {
  background-color: #dc2626;
}

.main {
  background-color: #bccbde;
  display: grid;
  grid-area: main;
  overflow-y: scroll;
  -webkit-box-shadow: inset 4px 4px 6px 1px rgba(143, 141, 143, 0.6);
  -moz-box-shadow: inset 4px 4px 6px 1px rgba(143, 141, 143, 0.6);
  box-shadow: inset 4px 4px 6px 1px rgba(143, 141, 143, 0.6);
}

.content.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content > div {
  padding: 15px;
}

.content .cards-container {
  padding-left: 2rem;
}

.cards-container > p,
.dialog-container > p {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  text-align: left;
  font-size: 1.3rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-area: cards;
  gap: 2rem;
}

.book-card {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "image image" "title title" ". pages" "read delete";

  padding: 1.5rem;
  border: 6px;
  border-style: solid;
  border-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 4px 4px 6px 1px rgba(143, 141, 143, 0.6),
    -5px 0 0 0 #e94057;
  -moz-box-shadow: 4px 4px 6px 1px rgba(143, 141, 143, 0.6), -5px 0 0 0 #e94057;
  box-shadow: 4px 4px 6px 1px rgba(143, 141, 143, 0.6), -5px 0 0 0 #e94057;
  min-height: 200px;
  background-color: #ffffff;
  color: black;
  text-align: center;
  display: grid;
  align-items: center;
}

.card-container .title {
  font-size: 1.3rem;
  font-family: sans-serif;
  text-align: start;
}

.book-card p {
  color: rgb(80, 80, 80);
  font-weight: normal;
  text-align: start;
  grid-area: card-text;
}

.book-img {
  grid-area: image;
}

.book-title {
  grid-area: title;
  font-weight: bold;
  color: #000;
}

.book-pages {
  grid-area: pages;
}

.book-read {
  grid-area: read;
}

.book-delete {
  grid-area: delete;
}

.buttons-container {
  grid-area: buttons;
  display: flex;
  justify-content: space-evenly;
  align-self: end;
}

.svg-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.svg-button:focus {
  outline: none;
}

.svg-button svg {
  fill: #000;
  transition: fill 0.3s ease;
}

.svg-button:hover svg {
  fill: #991b1b;
}

.svg-button:active svg {
  fill: #dc2626;
}
